header {
  width: 100%;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #b37f47;
  background-image: url("https://www.transparenttextures.com/patterns/old-wall.png");
  
}

header div img {
  padding-top: 155px;
}

header h2{
  margin-top: 5px;
  color: #FFF;
}