.container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-inline-start: 100px;
  padding-bottom: 100px;
}

.input {
  display: flex;
  flex-direction: column;
}

article {
  margin-bottom: 10px;
}

.tweet {
  border: 5px solid;
  background-color: #f4f1ec;
  margin-top: 10px;
}

article.tweet {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

article.tweet footer {
  display: flex;
  justify-content: left;
  height: 35px;
  align-items: center;
  border-top: 5px solid;
}

.tweet-footer-icons {
  display: flex;
  flex-direction: row;  
  align-content: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: right;
}

.tweet-footer-icons i {
  margin: 2px;
}

header div {
  display: flex;
  flex-direction: row;
}

header div img {
  margin-right: 10px;
}

article.tweet:hover {
  box-shadow: 5px 5px grey;
}

.tweet-footer-icons i:hover {
  color: #e8b920;
}

article.tweet header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #f4f1ec;
    height: 100px;
    word-wrap: break-word;
    
}

article.tweet header div.username{
  opacity: 50%;
  margin-left: auto;
  padding-right: 20px;
  word-wrap: break-word;
}

#alert {
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #f4f1ec;
}

#alertNoChar {
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #f4f1ec;
}
